<html>
    <head>
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <title><%=book.title%></title>
    </head>
    <body>
        <ul>
            <%for(let item of nav){%>
                <li>
                    <a href="<%=item.link%>"><%= item.title%></a>
                </li>
            <%}%>
        </ul> 
        <h1><%=book.title%></h1>
        <ul>
            <%for(let k in book){%>
            <li> <%= `${k}: ${book[k]}`%> </li>
            <%}%>
        </ul>
    </body>
</html>