<html>
    <head>
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <script src="/js/jquery.slim.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <script src="https://kit.fontawesome.com/a46d123be3.js" 
            crossorigin="anonymous"></script>
        <title><%=book.title%></title>
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-light" style="background: lightblue;">
        <span class="fas fa-2x fa-book-open mr-3"></span>
        <span class="navbar-brand">Library</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarItems">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarItems">
          <ul class="navbar-nav">
            <%for(let item of nav){%>
            <li class="nav-item">
              <a class="nav-link" href="<%=item.link%>"><%= item.title%></a>
            </li>
            <%}%>
          </ul>
        </div>
      </nav>
        <h1><%=book.title%></h1>
        <ul>
            <%for(let k in book){%>
            <li> <%= `${k}: ${book[k]}`%> </li>
            <%}%>
        </ul>
    </body>
</html>